@media (max-width: 1400px) {
	.login-screen{
		margin-top: 30px;
	}
	.store-btn-wrap{
		margin-top: 243px;
	}
}
@media (max-width: 992px) {
	.login-screen{
		.panel-body {
			h4{
				font-size: 30px;
			}
			.form-subtitle{
				font-size: 16px;
			}
			.social-accounts a{
				margin: 0 5px;
			}
		}
	}
}

@media (max-width: 767px) {
	.login-screen{
		margin-top: 50px;
		float: none;
	}
	.store-btn-wrap{
		margin: 30px 0 0;
		text-align: center;
	}
}