.store-btn-wrap{
	margin-top: 340px;
	.apple-btn,
	.play-btn{
		width: 170px;
		height: 50px;
		background-color: #000000;
		border-radius: 5px;
		line-height: normal;
		color: #ffffff;
		padding: 4px 0 0;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		img{
			height: 32px;
		}
		p{
			position: relative;
			top: 4px;
			font-size: 11px;
			display: inline-block;
			text-align: left;
			padding-left: 5px;
			margin: 0px;
			vertical-align: middle;
		}
		span{
			font-size: 22px;
		}
	}
}

.login-screen{
	position: relative;
	max-width: 340px;
	width: 100%;
	background-color: rgba(0, 0, 0, .4);
	color: #ffffff;
	margin: 110px auto 0;
	float: right;
	.panel-body {
		padding: 20px 25px 30px;
	}
}
.panel-login .panel-body{
	h4{
		margin: 0;
		font-size: 30px;
		color: #ffffff;
		text-align: center;
		line-height: normal;
		font-family: 'Conv_Proxima Nova Regular';
	}
	.form-subtitle{
		font-family: 'Conv_Proxima Nova Regular';
		font-size: 17px;
		text-align: center;
		margin: 10px 0 30px;
	}
	.form-group{
		margin-bottom: 25px;
	}
	input,
	select{
		color: #ffffff;
		padding: 0 10px;
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		border-bottom: 1px solid #31bdf1;
	}
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url("../../web/images/icon/select-arrow.png") no-repeat 96% center;
		padding: 0 13px;
		option{
			color: #000000;
		}
	}
	.button-wrap{
		text-align: center;
		margin: 30px 0 !important;
		p{
			margin: 4px 0;
			font-size: 14px;
		}
	}
	.btn{
		padding: 0;
		width: 100%;
		height: 40px;
		line-height: 40px;
		border-radius: 0px;
		border: 0;
		font-size: 16px;
	}
	.login-btn{
		background-color: #1fb7f0;
		border: 1px solid #1fb7f0;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		&:hover{
			background-color: #FFF;
			color: #1fb7f0;
		}
	}
	.sign-in-btn,
	.sign-up-btn{
		width: 100%;
		text-decoration: none;
		color: #ffffff;
		background-color: #525273;
		border: 1px solid #525273;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		&:hover{
			color: #525273;
			background-color: #FFF;
		}
	}
	.sign-up-btn{
		margin-bottom: 20px;
	}
	.auth-clients{
		margin: 25px 0 0;
	}
	.social-accounts{
		text-align: center;
		a{
			margin: 0 5px;
		}
	}
	.full-name-wrap{
		margin-top: 30px;
		.field-signupform-surname{
			input{
				padding-right: 0;
			}
		}
	}
	span .form-control{
		margin-bottom: 15px;
	}
	::-webkit-input-placeholder  { color:#e5e5e5; }
	:-moz-placeholder { color:#e5e5e5; }
	:-ms-input-placeholder { color:#e5e5e5; }
}

@font-face {
	font-family: 'Conv_Proxima Nova Regular';
	src: url('../../web/fonts/Proxima Nova Regular.eot');
	src: local('☺'), url('../../web/fonts/Proxima Nova Regular.woff') format('woff'), url('../../web/fonts/Proxima Nova Regular.ttf') format('truetype'), url('../../web/fonts/Proxima Nova Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@import "media-query.scss";