
div.mr-switch{
    display: inline;
}

.mr-switch .fa{
    font-size: 1.8em;
    cursor: pointer;
}

.mr-switch input{
    display: none;
}

div.mr-switch i.fa.fa-toggle-on.off{
    color: #B7B6B6;

    /*-webkit-transition: 1s ease-in-out;
      -moz-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out;
      transition: 1s ease-in-out;*/

    -webkit-transform: rotate(-180deg); /* Chrome y Safari */
    -moz-transform: rotate(-180deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(-180deg); /* Opera */
}

div.mr-switch i.fa.fa-toggle-on{
    color: #27B176;
}
.mr-disabled{
    background: #F2F2F2 !important;
}

.white-bg{
    background:#ffffff !important;
}
tr.white-bg.mr-disabled{
    background: #F2F2F2 !important;
}

.kv-align-middle a span.glyphicon.glyphicon-pencil{
    background: rgb(60, 141, 188) none repeat scroll 0% 0%;
    padding: 7px 8px;
    border-radius: 5px;
    margin: 0px 4px;
    color: rgb(255, 255, 255);
}

.kv-align-middle a span.glyphicon.glyphicon-trash{
    background: #B30B1D none repeat scroll 0% 0%;
    padding: 7px 8px;
    border-radius: 5px;
    margin: 3px 4px;
    color: rgb(255, 255, 255);
}


.kv-align-middle a span.glyphicon.glyphicon-eye-open{
    background: #9DB0A0;
    padding: 7px 8px;
    border-radius: 5px;
    margin: 2px 4px;
    color: rgb(255, 255, 255);
}

.kv-align-middle a span.glyphicon.glyphicon-list-alt{
    background: #1F9231;
    padding: 7px 8px;
    border-radius: 5px;
    margin: 2px 4px;
    color: rgb(255, 255, 255);
}


.mr-error{
    color: #A94442 !important;
    font-weight: bold !important;
}



.mr-waper-loader{
    display: none;
    background-color: rgba(0, 0, 0, 0.72);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 65000;
}

/*loader circle*/
.loader-circle-full-screen {
    margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(15, 118, 224, 0.77);
    border-right: 1.1em solid rgba(15, 118, 224, 0.77);
    border-bottom: 1.1em solid rgba(15, 118, 224, 0.77);
    border-left: 1.1em solid #24A1FC;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    margin: 15% auto;
}
.loader-circle-full-screen,
.loader-circle-full-screen:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.bb-alert{
    position: fixed;
    bottom: 5%;
    right: 0px;
    margin-bottom: 0px;
    font-size: 1.2em;
    padding:0px;
    z-index: 2000;
    width: 400px;
    word-break: break-all;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    border-radius: 8px 0px 0px 40px;
    display: none;
    max-width: 100%;
}
.bb-alert span{
    margin: 20px 30px;
    display: block;
}

.bb-alert .fa-times{
    color: rgb(204, 32, 32);
    float: right;
    padding: 6px;
}

.section-form-two-blocks .mr-section-base{
    margin: 10px;
}

.mr-dashboard .info-box{
    min-height: 150px;
}

.mr-dashboard .info-box .info-box-icon{
    /*height: 150px;*/
}

.mr-dashboard-unactive-number{
    color: #D12626;
    font-weight: bold;
}
.mr-dashboard-active-number{
    color: #32BF3E;
    font-weight: bold;
}
.mr-dashboard .info-box ul{
    list-style: outside none none;
    padding: 0px 0px 0px 10px;
}
.mr-dashboard .info-box .mr-lang-ul{
font-size: 14px;
    font-weight: bold;
}
.mr-dashboard .info-box .mr-lang-ul ul li{
    font-size: 14px;
    font-weight: normal;
}
.mr-edit-grid-column:after{
    content: "\f040";
    padding: 4px 5px;
    border-radius: 100%;
    margin-left: 10px;
    background-color: #359B35;
    color: #fff;
}
.mr-edit-grid-column{
    text-underline: none;
    border-style:none;
}

.lang-panel {
    position: relative;
    width: 100%;
    padding: 0px;
    overflow: hidden;
}
.lang-panel ul li{
    text-transform: uppercase;

}
.lang-panel ul .acive-lang{
    background-color: #00A65A;
    color:#fff;
    font-weight: bold;
}
.lang-panel ul a{
    padding: 10px 17px;
    color:#fff;
    font-weight: bold;
}

 ul.nav.navbar-nav.navbar-right li.user.user-menu a.mr-logout-btn{
    padding-right: 20px;
    font-weight: bold;
     font-size: 18px;

}

ul.nav.navbar-nav.navbar-right li.user.user-menu a.mr-logout-btn:hover{
    text-shadow: 0px 0px 1px #F00;

}

.margin-top-25{
    margin-top: 25px;
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
    background: #9FD468;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    left: 26px;
}
/* Показываем получение фокуса. */
.checkbox:focus + label:before {

}

.mr-modal-icon-remove{
    font-size: 4em;
    padding: 10px 30px;
    border-radius: 100%;
    background: #A71111;
    color: #fff;
}

.bootbox-confirm .btn-default{
    background: #A71111 none repeat scroll 0% 0%;
    border: none;
    border-radius: 0px;
    color: #fff;
}

.bootbox-confirm .btn-primary{
    background: #11A742 none repeat scroll 0% 0%;
    border: none;
    border-radius: 0px;
}

.bootbox-confirm .btn-default:hover{
    background: #5c1211 none repeat scroll 0% 0%;
}

.bootbox-confirm .btn-primary:hover{
    background: #1b743a none repeat scroll 0% 0%;
}