.select-file-box{
    padding: 25px;
}
.add-files{
    width: 35px;
    height: 67px;
    background: url("/images/class/add_file.png") center no-repeat;
    background-size: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    cursor: pointer;
    overflow-y: auto;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.select-file-box{
    width: 80%;
    height: 300px;
    position: absolute;
    left: 10%;
    overflow-y: auto;
    bottom: 67px;
    background: white;
    z-index: 100;
    display: none;
    -webkit-box-shadow: 4px 4px 15px 0 gray;
    -moz-box-shadow: 4px 4px 15px 0 gray;
    box-shadow: 4px 4px 15px 0 gray;
}
.close-box{
    position: absolute;
    top: 5px;
    right: 5px;
}
.message-text .fresco img{
    max-width: 100px;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    display: block;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
