body {
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.mr-waper-loader{
    display: none;
    background-color: rgba(0, 0, 0, 0.72);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 65000;
}

/*loader circle*/
.loader-circle-full-screen {
    margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(15, 118, 224, 0.77);
    border-right: 1.1em solid rgba(15, 118, 224, 0.77);
    border-bottom: 1.1em solid rgba(15, 118, 224, 0.77);
    border-left: 1.1em solid #24A1FC;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    margin: 15% auto;
}
.loader-circle-full-screen,
.loader-circle-full-screen:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.dd {

    background-color: #fff;
    color: #ccc;
}

.leftt {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 300px;
    float: left;
}



.rightt {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 300px;
    float: right;
}

.bug {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    border-radius: 0px;
}

.home_background {
    background: url(../default_img/back2.jpg) no-repeat;
    background-size: 100%;
    padding-top: 55px;
    height: 100vh;
    position: relative;
}

.header {
    font-family: "Aleo-legular";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
}

.title {
    font-size: 80px;
    color: #fff;
    text-transform: none;
    text-align: center;
    font-family: "Aleo-legular";

}

.content_home {
    width: 90%;
    height: 65%;
    margin: 0 auto;
    top: 10%;
    position: relative;
    text-align: center;
}

.form {
    margin-top: -19%;
    background-color: #fff;
    color: #ccc;
}

.style-imp {
    border-radius: 0px;
    width: 100%;
    height: 40px;
}
.imp1 {
    width: 90%;
    margin: 10px auto;
    border-top: 1px solid #19CAFF;
    padding-top: 10px;
}

.header-news:hover {
    background-color: #fff;
    cursor: pointer;
}

.imp2 {
    width: 90%;
    margin: 10px auto;
    border-top: 1px solid #19CAFF;
    padding-top: 10px;
}

.imp3 {
    width: 90%;
    margin: 10px auto;
    border-top: 1px solid #19CAFF;
    padding-top: 10px;
}

.imp4 {
    width: 90%;
    margin: 10px auto;
    border-top: 1px solid #19CAFF;
    padding-top: 10px;
}

.imp5 {
    width: 90%;
    margin: 10px auto;
    padding-top: 10px;
}

.sign {
    width: 80px;
    height: 40px;
    color: #fff;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    font-size: 9px;
}
.sign2 {
    width: 80px;
    height: 40px;
    color: #fff;
    margin-left: 77.5%;
    border:1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    font-size: 9px;
    margin-top: 46px !important;
}

.block-f a {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    border-radius: 0px;
}

.block-f a:hover {
    color: rgba(0, 0, 0, 0.6);
    padding: 16px;
    border-radius: 0px;
    background-color: #fff;
    text-decoration: none;
}

.header-subb {
    position: absolute;
    font-family: Aleo-bolt;
    top: 30%;
    color: #fff;
    height: 6%;
    width: 100%;
}

.sign:hover {
    color: #31b0d5;
    background-color: #fff;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.055), 0 0 5px #16A9FF;
}
.sign2:hover {
    color: #31b0d5;
    background-color: #fff;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.055), 0 0 5px #16A9FF;
}

.foot {
    text-align: center;
    width: 70%;
    margin: 204px auto 0 auto;
}

.foot2 {
    text-align: center;
    width: 70%;
    margin: 100px auto 0 auto;
}

.footer {
    bottom: 0;
    width: 100%;
}

.block-f {
    padding-top: 15px;
    text-align: center;
    width: 25%;
    margin: 0 auto;
}

.block-f a {
    color: #fff;
}

.copy {
    width: 200px;
    float: left;
    color: #fff;
    padding-left: 1%;
    padding-top: 5px;
}

.wrapper {
    position: absolute;
    font-family: Aleo-bolt;
    top: 35%;
    height: 50%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 31px #337ab7;
}

.sub-wrapper {
    margin: auto;
    position: relative;
    width: 90%;
}

@font-face {
    font-family: Aleo-bolt; /* Имя шрифта */
    src: url(../fonts/aleo/Aleo-Bold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Aleo-legular; /* Имя шрифта */
    src: url(../fonts/aleo/Aleo-Regular.otf); /* Путь к файлу со шрифтом */
}

.left-m {
    padding-left: 0px;
    height: 20%;
    padding-top: 10px;
    margin-top: 15px;
}

.right-m {
    height: 20%;
    padding-top: 10px;
    margin-top: 15px;
    padding-right: 0px;
}

/*::-webkit-input-placeholder {color:#fff !important;}
::-moz-placeholder {color:#fff !important;} Firefox 19+ 
:-moz-placeholder {color:#fff !important;} Firefox 18- 
:-ms-input-placeholder {color:#fff !important;}*/

hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 2px solid #31B3FF;
}

form#login-form {
    height: 75%;
}

.sub-h {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.soc {
    font-size: 35px !important;

}

.soc:hover {
    transition: 2s;
    -moz-transform: rotate(360deg); /* Для Firefox */
    -ms-transform: rotate(360deg); /* Для IE */
    -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(360deg); /* Для Opera */
    transform: rotate(360deg);
}

.social {
    height: 25%;
    width: 80%;
    text-align: center;
    float: left;
    padding-left: 20%;
}

.bug:hover, .bug:focus {
    color: rgba(0, 0, 0, 0.6);
    padding: 16px;
    border-radius: 0px;
    background-color: #fff;
    text-decoration: none;
}


.navbar-default{
    #background:  rgba(0, 0, 0, 0.5);
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

select#sel1 {
    margin-left: 5%;
    background-color: #31B3FF;
    color: #fff;
    width: 75%;
    height: 40px;
}

select#sel2 {
    margin-left: 5%;
    background-color: #31B3FF;
    color: #fff;
    width: 75%;
    height: 40px;
}
select#sel3 {
    margin-left: 5%;
    background-color: #31B3FF;
    color: #fff;
    width: 75%;
    height: 40px;
}
.font5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

div#heder-title {
    background-color: #7D7D7D;
    color: #fff;
    border-radius: 0 0 9px 9px;
}

.bgtitle {
    padding-top: 10px;
    padding-right: 0px;
    color: #fff;
    text-align: center;
}

a.hovmen:hover {
    color: #337ab7 !important;
    background-color: #fff !important;
}

.followerr {
    padding-top: 10px;
    text-align: center;
    color: #fff;
}

@media (max-width: 1700px) {
    h3.sub-h {
        font-size: 16px;
    }
    h4.font4 {
        font-size: 15px;
    }
    h4.font5 {
        font-size: 15px;
    }
    .style-imp {
        height: 30px;
        font-size: 12px;
    }
    .sign {
        margin-top: 0px;
    }

}

@media (min-width: 1514px) {
    .sign2 {
        margin-top: 62px !important;
    }
}

@media (min-width: 1700px) {
    .sign2 {
        margin-top: 78px !important;
    }
}

@media (min-width: 1811px) {
    .sign2 {
        margin-top: 99px !important;
    }
}

@media (max-width: 1450px) {
    .left-m {
        margin-top: 20px !important;
    }
    .right-m {
        margin-top: 20px !important;
    }
}


@media (max-width: 1400px) {
    .font4 {
        font-size: 12px !important;
    }
    .title {
        font-size: 60px;
    }
    .content_home {
        height: 55%;
    }
    .left-m {
        margin-top: 0px !important;
    }
    .right-m {
        margin-top: 0px !important;
    }
}

@media (max-width: 992px) {
    .wrapper {
        box-shadow: none;
        height: 80%;
    }
    .style-imp {
        font-size: 15px;
        height: 27px;
    }
    .content_home {
        margin-top: 2%;
    }
    .title {
        font-size: 45px;
    }
    h3 {
        font-size: 17px;
    }

}
/* Header */

.header {
    width: 100%;
    height: 50px;
}

.topheader {
    height: 35px;
}

h1.logotop {
    padding-top: 4px;
}

img.mainLogo {
    height: 30px;
}
.navmenusetting {
    padding-top: 8px;
}
.navmenusetting a.urldashbord {
    margin: 0 5px;
    float: left;
    color: #BDBDBE;
}
.divsearch {
    width: 100%;
    position: relative;
}
.dropdown.menu-dropdown {
    float: right;
    margin-top: 9px;
    position: absolute;
    right: 0;
}
.divsearch .search {
    width: 100%;
    float: right;
    background-color: #5d5d5d;
    border-radius: 4px;
    padding: 4px 10px 5px 30px;
    height: 24px;
    color: #fff;
    margin: 6px 4px;
    transition: background-color 1s ease-out 0s, width 1s ease-out 0s;
    border: 1px solid #7b7b7b;
}
.sys_main_menu {
    border-bottom: 0;
    background-color: rgba(68,68,68, 0.5);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
i.fa.dashbordtop {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    padding: 0px 5px;
}
.divsearch {
    width: 100%;
    position: relative;
}
form, table, p, ul, li, div, dl {
    font-size: 100%;
    margin: 0;
    padding: 0;
    border-collapse: separate;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

@media (min-width: 992px) {
    .divsearch .search:hover, .divsearch .search:focus {
        width: 100%;
        background-color: #cdcdcd;
        color: #595959;
    }

    .searchicon {
        position: absolute;
        top: 11px;
        right: 40px;
        color: #9A9A9A;
    }
}


@media (min-width: 992px) {
    .divsearch .search {
        width: 42%;
    }
    .divsearch .search:hover,
    .divsearch .search:focus {
        width: 100%;
        background-color: #cdcdcd;
        color: #595959;
    }   
}

@media (min-width: 768px) {
    .divsearch .search {
        margin-right: 30px;
    } 
}

.menu-dropdown i.fa {
    font-size: 19px;
    color: #cdcdcd;
}

i.fa.fa-bar-chart {
    font-size: 20px;
}

.style-icon {
    cursor: pointer;
    padding: 5px 0px 5px 0px;
    border: 6px solid rgba(0, 0, 0, 0);
    text-align: center;
}

.sub-header {
    background-color: #67A8EA;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-family: Aleo-legular;
}
@font-face {
    font-family: Aleo-bolt; /* Имя шрифта */
    src: url(../fonts/aleo/Aleo-Bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Aleo-legular; /* Имя шрифта */
    src: url(../fonts/aleo/Aleo-Regular.otf); /* Путь к файлу со шрифтом */
}

.fff{
    border: 1px solid #000;
}

.textblock {
    padding-left: 30%;
    transition: 1s;
}
.textblock:hover {
    padding-left: 25%;
    transition: 1s;
}

.textblock2 {
    padding-bottom: 15px;
    padding-left: 30%;
    transition: 1s;
}
.textblock2:hover {
    padding-left: 25%;
    transition: 1s;
}



.sil {
    padding-top: 15px;
    padding-bottom: 15px;
    #background-image: url(../../web/default_img/news1.jpg);
    background-color: rgba(51,122,183,0.75);
    background-size: cover;
    font-size: 17px;
}
.sil2 {
    padding-top: 15px;
    padding-bottom: 15px;
    #background-image: url(../../web/default_img/news2.jpg);
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    font-size: 17px;
}

.btn-discription {
    height: 25px;
    padding-top: 3px;
    color: #fff;
}

.sil a {
    color: #ccc;
}
.sil2 a {
    color: #757575;
}

.sub-header2 {
    padding: 20px 0px 20px 20px;
    background: linear-gradient(to top, #505050, #DADADA);
    color: #fff;
}

.stule-link-news {
    border: 1px solid rgba(51, 122, 183, 0.6);
    background-color: rgb(0, 0, 0);
}

.sl_bl:hover {
    background-color: #fff;
}

.sl_bl {
    cursor: pointer;
    background-color: rgba(51, 122, 183, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.header-calendar {
    background-color: rgba(51, 122, 183, 0.3);
    padding-top: 11px;
    padding-bottom: 10px;
    text-align: center;
}

.header-news {
    background-color: rgba(51, 122, 183, 0.3);
    padding-top: 11px;
    padding-bottom: 10px;
    text-align: center;
}

.xxx {
    border: 1px solid red;
}

.btn-upload {
    width: 40%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 30%;
    color: #fff;
    background-color: rgba(8, 8, 8, 0.61);
    border-color: #46b8da;
    transition: 2s;
}

button.btn.btn-upload:hover {
    overflow: hidden;
    font-size: 80px;
    width: 100%;
    color: rgba(8, 8, 8, 0);
    left: 0;
    height: 100%;
    top: 0;
    transition: 2s;
    background-color: rgba(8, 8, 8, 0.38);
}

.checkbox {
    width: 12px;
}

.btn-profile {
    margin: 5px;
    padding: 5px;
    border-top: 1px dashed #fff;
}

.btn-profile a {
    color: #fff;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    width: 100%;
}

.btn-profile a:active, .btn-profile a:focus {
    color: #25A2EA;
}

.col-md-1.style-icon:hover{
    border-bottom: 6px solid #000000;
}

.col-md-1.style-icon:active{
    border-bottom: 6px solid #000000;
}

.col-md-1.style-icon .active{
    border-bottom: 6px solid #000000;
}


.style-icon a {
    color: #7D8084;
    
}
.style-icon a:hover {
    text-decoration: none;
}
.trbloks {
    text-align: center;
    background-color: #ccc;

}
.bg {
    height: 50px;
    /* background-image: url(../default_img/back.jpg); */
    background-size: cover;
    background-color: rgba(0,0,0,0.75);
}

.padding-lr {
    padding-left: 0px;
    padding-right: 0px;
}


.copy {
    width: 200px;
    float: left;
    color: #fff;
    padding-left: 1%;
    padding-top: 15px;
}
.block-f {
    padding-top: 15px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.urldashbord .badge {
    background-color: #E43A3A;
}

.header-block div{
    z-index: 1000;
}

.foll {
    background-color: rgba(51, 122, 183, 0.5);
}

.foll:hover {
    background-color: rgb(51, 122, 183);
    color: #fff;
}




.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #dde;
    position: relative;
}

.jspDrag
{
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}







