.padding-div-position{
    text-align: center;
}
.no-padding-style{
    padding: 0 !important;
}
.no-padding-left-style{
    padding-left: 0px !important;
}
.dashboard-btn-fv-style{
    position: absolute;
    top: 100%;
    padding-top: 10px;
}
.jobs-img-logo-style{
    width: 200px !important;
}
.jobs-photo-div-style{
    height: 330px !important;
    width: 410px !important;
}
.search-jobs-btn-margin{
    margin-right: 15px;
    margin-top: 10px !important;
}
.search-jobs-center-margin{
    margin-top: 10px !important;
}
.search-jobs-img-size{
    /*width: 410px !important;*/
}
.resume-info-div-style{
    height: 155px;
    overflow: hidden;
    position: relative;
}
.read-more-btn-style{
    position: absolute;
    right: 15px;
    bottom: 5px;
    border: 1px solid #000000;
    padding: 0px 5px;
    font-style: italic;
    cursor: pointer;
    color: #0a0a0a;
}
.about-text-div-style{
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}
.size-rm-block-style{
    height: inherit !important;
}
.title-info-style{
    color: #0a0a0a;
}
.title-input-style > label{
    color: #0a0a0a;
    text-decoration: underline;
}
.job-div-star{
    margin-top: 45px;
}
.job-reiting-margin-style i{
    margin-right: 5px;
}
.job-btn-margin-star-style {
    margin-bottom: 55px;
}
.job-btn-margin a {
    margin-bottom: 23px !important;
}
.job-btn-margin-style {
    margin-bottom: 23px !important;
}
@media (max-width: 1499px) {
    .btn-lg-hide{
        display: none;
    }
}
@media (min-width: 1500px) {
    .no-padding-style-m{
        padding: 0 !important;
    }
    .btn-xl-hide{
        display: none;
    }
    .dashboard-info-div-style{
        width: 66% !important;
        height: 360px;
        position: relative;
    }
    .dashboard-info-last-style{
        margin-top: 10px;
    }
    .dashboard-logo-div-style{
        width: 265px !important;
        height: 210px !important;
    }
    .dashboard-btn-div-style{
        height: 140px !important;
        width: 265px !important;
        padding: 0 12px;
    }
    .btn-width-style > a {
        width: 241px !important;
    }
    .btn-width-style > button{
        width: 241px !important;
    }
    .dashboard-info-fonts-style{
        font-size: 14px;
    }
    .div-fv-style{
        position: absolute;
        top: 90%;
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }
    .div-fv-margin-style > button{
        margin-top: 0 !important;
    }
    .fv-div-padding{
        padding-right: 20px !important;
    }
}
@media (min-width: 1580px) and (max-width: 1810px) {
    .dashboard-info-fonts-style {
        font-size: 14px;
        margin-left: 27px !important;
    }
    .search-jobs-center-margin{
        margin-top: 10px !important;
        padding-left: 36px;
    }
    .dashboard-btn-div-style{
        height: 140px !important;
        width: 265px !important;
        padding: 0 12px !important;
    }
}
@media (min-width: 1500px) and (max-width: 1579px) {
    .dashboard-info-fonts-style {
        font-size: 14px;
        margin-left: 38px !important;
    }
    .search-jobs-center-margin{
        margin-top: 10px !important;
        padding-left: 47px;
    }
    .dashboard-btn-div-style{
        height: 140px !important;
        width: 265px !important;
        padding: 0 12px !important;
    }
}
.job-table-style:hover{
    background-color: #f5f5f5 !important;
}
.top-input-size-style > input{
    height: 40px !important;
}
.top-input-size-style > select{
    height: 40px !important;
}
.filter-btn-style{
    border-radius: 0 !important;
    margin-right: 0 !important;
    width: 65px !important;
    height: 39px !important;
    background-color: #7364cc !important;
    color: #FFF !important;
    border: none !important;
}
.filter-btn-style:hover{
    border-radius: 0 !important;
    margin-right: 0 !important;
    width: 65px !important;
    height: 39px !important;
    background-color: #FFF !important;
    color: #7364cc !important;
    border: 1px solid #7364cc !important;
}
.company-alert-style{
    display: none !important;
}
.download-btn-div-style > a{
    margin-bottom: 10px;
    float: left;
    margin-left: 85px;
    width: 50px;
    height: 50px;
    line-height: 26px;
    text-align: center;
    /*color: #fff !important;*/
    font-size: 14px;
    padding: 0;
    /*border: 1px solid #7364cc;*/
    border-radius: 0;
    outline: 0;
    /*background-color: #7364cc;*/
    box-shadow: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.download-btn-div-style:hover > a{
    margin-bottom: 10px;
    margin-left: 85px;
    width: 50px;
    height: 50px;
    line-height: 26px;
    text-align: center;
    /*color: #7364cc !important;*/
    font-size: 14px;
    padding: 0;
    /*border: 1px solid #7364cc;*/
    border-radius: 0;
    outline: 0;
    /*background-color: #FFF;*/
    box-shadow: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
}
.download-a-style:hover,
.download-a-style:active,
.download-a-style:focus{
    text-decoration: none;
    color: #fff !important;
}
.download-img-style{
    width: 50px;
}
.download-text-style{
    color: #525252;
}
.download-btn-div-margin{
    margin-left: 110px;
}
.download-div-margin{
    margin-bottom: 15px !important;
}
.job-logo-grid-div{
    width: 100% !important;
    height: 100% !important;
    position: relative;
}
.job-info-div-style{
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
}
.job-main-div-style{
    padding: 10px;
    font-size: 13px;
    line-height: 25px;
}
.job-btn-div-grid-margin_1{
    float: left !important;
}
.job-btn-grid-margin  a{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    height: 29px !important;
    width: 100px !important;
}
.job-btn-grid-margin  button{
    width: 100px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    height: 29px !important;
}
.job-favorite-btn-style > button{
    color: #ffdc37 !important;
    margin-top: 0 !important;
    float: right !important;
    padding-right: 0 !important;
}
.job-favorite-btn-style > button > i{
    color: #ffdc37 !important;
    margin-top: 0 !important;
    float: right !important;
}
.grid-job-div-btn-mr{
    margin-bottom: 10px;
    margin-top: 8px;
}
@media (min-width: 1200px){
    .job-grid-div-width{
        width: 32% !important;
        padding: 0 !important;
        margin-right: 15px;
        height: 389px;
        overflow: hidden;
    }
}