.modalRightPagesLS {
    display: none;
    width: 455px;
    right: 200px;
    left: auto;
    box-shadow: rgba(0, 0, 0, 0.49804) 0px 0px 10px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    padding: 0;
    z-index: 998;
    padding-top:0px;
}

.modal .padding-body .fade .in {
    z-index: 999999 !important;
}

.modal-backdrop .fade .in{
    z-index: 999 !important;
}