.mr-notification{
    position: fixed;
    min-height: 40px;
    z-index: 65000;
    width: 100%;
    opacity : 0;
}
.mr-notification h4{
    padding: 2% 5%;
    float: left;
    color: #fff;
}
.mr-notification span.mr-close{
    color: #fff;
    position: absolute;
    font-size: 67px;
    right: 10px;
    top: -33px;
    cursor: pointer;
}

/** Danger **/
.mr-notification.danger span.mr-close{
    background-color: rgba(221, 81, 76, 0.8);
}

.mr-notification.danger{
    background-color: #dd514c;
}

/** Success **/
.mr-notification.success span.mr-close{
    background-color: rgba(68, 146, 93, 0.8);
}

.mr-notification.success{
    background-color: #44925d;
}

/** warning **/
.mr-notification.warning span.mr-close{
    background-color: rgba(155, 129, 32, 0.8);
}

.mr-notification.warning{
    background-color: #9b8120;
}

/** warning **/
.mr-notification.info span.mr-close{
    background-color: rgba(41, 127, 155, 0.81);
}

.mr-notification.info{
    background-color: #297f9b;
}

.mr-notification ul{
    padding: 0.5% 5%;
    float: left;
    color: #fff;
    list-style: none;
}

.mr-notification ul li{
    font-size: 18px;
}


