.mr-preview-block{
    width: 25%;
    margin: 10px;
    display: none;
}

.mr-preview-img{
    width: 100%;
}

.mr-preview-remove-img{
    color: #E90D0D;
    background: #FFF4F4 none repeat scroll 0% 0%;
    font-weight: bold;
    border-radius: 50%;
    padding: 0px 4px;
    float: right;
    bottom: -7px;
    position: relative;
    right: -11px;
    cursor: pointer;
    border: 1px solid #E90D0D;
}

.mr-preview-remove-img:hover{
    color: #FFF4F4;
    background: #E90D0D none repeat scroll 0% 0%;
    cursor: pointer;
    border: 1px solid #FFF4F4;
}