.search_block{
    /*background-color: red;*/
    z-index: 200;
    position: absolute;
    width: 100%;
    /*height: 100vh;*/
    top:0;
    left: 0;
    display: none;
}
.search_panel{
    background-color: #f5f5f5;
    z-index: 300;
    width: 200px;
    height: 100vh;
    float: right;
    padding-top: 45px;
}
