html,
body {
    margin:0;
    padding:0;
    height:100%;
}

.wrap {
    min-height:100%;
    position:relative;
    padding-top: 45px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}



.wrap:after {
  content: "";
  display: block;
}

.base-footer, .wrap:after {
  height: 0px; 
}
.base-footer {
  background-color: rgb(40, 40, 40);
}

/** University **/
.mr-university-logo-view{
    width: 200px;
    height: 200px;
}

.mr-university-header{
    height: 200px;
    background-color: rgb(40, 40, 40);
}

 nav.navbar.navbar-default.mr-university-nav-header{
    margin-bottom: 0px; 
    background-color: transparent; 
    border: 0px;
}

.mr-carousel-block-university{
    height: 550px;
}

.mr-carousel-block-university div.carousel-inner.carousel-inner1 div.item img{
     height: 550px;
}
.mr-university-folower-btn{
    color: #fff;
    text-decoration: none;;
}

.scroll-bl {
    height: 550px;
    overflow-y: scroll;
}

.mr-nav-second-menu div.collapse.navbar-collapse ul.nav.navbar-nav li a{
    color: #282828;
}
.mr-nav-second-menu
{
    margin: 0;
    border: 0;
    border-radius: 0;
}

.mr-nav-first-menu .navbar-brand{
    width: 65%;
}

.mr-empty-university-carousel-h{
    text-align: center;
    padding: 20px;
}

.mr-empty-university-carousel{
    height: 450px;
    background: url(../default_img/sad.svg) no-repeat;
    background-size: 440px;
    background-position: center;
    opacity: 0.05;
}

.mr-university-new-notf{
    background: #282828;
}

.mr-thumb-university-news {
    position: relative;
}

.mr-thumb-university-news img{
    height: 200px;
    width: auto;
}

.mr-univer-nav-news{
    text-align: center;
    padding: 20px;
}

.mr-university-folower-btn.mr-unfollow{
    background: rgb(147, 31, 31) none repeat scroll 0 0;
}

.mr-university-user-border{
    text-align: center;
}

.mr-university-user-border i.fa.fa-user{
    font-size: 90px;
}
.mr-university-header{
    margin-bottom: 20px;
}

.mr-university-user-block{
    margin-bottom: 10px;
}

.mr-nav-index-univer{
    width: 100%;
}

.mr-major-plus-btn{
    padding: 1px 5px;
    border: 0px;
    border-radius: 0;
}

.mr-event-badge{
    position: relative;
    left: -15px;
}

.mr-msg-badge{
    position: relative;
    left: -11px;
}

.navbar-nav.mr-top-notif-menu li{
   padding: 0px;
}

.navbar-nav.mr-top-notif-menu li a{
    margin: 0;
    padding: 15px 5px;
}

#formSavePhotos{
    display:none;
}
.nav-user .user img{
    height:50px;
}
#tutors-course_id > .checkbox{
    width:100%;
}
.usersClass li a:hover{
    background-color: #dbe0fc !important;
}
.usersMembersColor{
    background-color: #dbe0fc !important;    
}
.carousel-indicators li{
    background-color: white !important;
}
.carousel-indicators .active{
    background-color: #7364cc !important;
    border:1px solid #7364cc;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background-color:white !important;
}
.overlay .starting-point span {
    background-color: #525273 !important;
}
.layer-container .user-layer .nav > li.active > a{
    background-color: #525273 !important;
}
.layer-container .menu-layer.active{
    background-color: #525273 !important; 
    /*z-index: 99999;*/
}
/*.layer-container .menu-layer.active>ul{
    z-index: 9999999;
}*/
.newFormControl{
    background-color:white !important;
    /*border-radius: 4px !important;*/
}
.mr-nav-first-menu .navbar-brand{
    width:60% important;
}
.nav-user .user .badge {
    font-size: 8px !important;
    border: 1px solid #fff !important;
}
.nav-menu .hamburger .patty {
    width: 18px !important;
    height: 2px !important;
}

.nav-search .search:before {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  content: '';
  background: none;
  height: 11px !important;
  width: 11px !important;
  border: 2px solid transparent;
  border-radius: 100%;
  position: absolute;
  left: 7px !important;
  top: 11px !important;
  -webkit-transition: 0.5s all cubic-bezier(0.17, 0.67, 0.6, 1.3);
          transition: 0.5s all cubic-bezier(0.17, 0.67, 0.6, 1.3);
}
.nav-search .search:after {
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 2px !important;
  width: 8px !important;
  -webkit-transition: 0.5s all cubic-bezier(0.17, 0.67, 0.6, 1.3);
          transition: 0.5s all cubic-bezier(0.17, 0.67, 0.6, 1.3);
}
.membersTabs li.active{
    background-color: #6b6b84;
    color:#908ea1 !important;
}
.membersTabs li{
    background-color: #424263;
    color:white !important;
}
.membersTabs li.active a{
    color:#908ea1 !important;
}
.membersTabs li a{
    color:white !important;
}
.membersTabs li.active a:after{
    border:0px solid transparent !important;
}

.searchInput::-webkit-input-placeholder {color: white !important;}
.searchInput::-moz-placeholder          {color: white !important;}/* Firefox 19+ */
.searchInput:-moz-placeholder           {color: white !important;}/* Firefox 18- */
.searchInput:-ms-input-placeholder      {color: white !important;}

.startChatJobs,
    .startVideoJobs {
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #525273;
      color: #ffffff;
      float: right;
      background-position: center;
      background-repeat: no-repeat; }
    .startChatJobs {
      margin-bottom: 10px;
      background-image: url("../../images/icon/mssg-ic.png"); }
    .startVideoJobs {
      background-image: url("../../images/icon/ph-ic.png"); }
    
    .profileJobs-btn,
    .followJobs-btn {
      width: 120px;
      height: 22px;
      display: block;
      line-height: 22px;
      padding: 0;
      font-size: 14px;
      color: #ffffff;
      border: 0;
      border-radius: 3px;
      box-shadow: none;
      text-decoration: none; }
    .profileJobs-btn {
      margin-bottom: 10px;
      background-color: #5ec6ed; }
    .followJobs-btn {
      background-color: #525273; }
    
    .jobsFilterUser{
        margin-bottom: 13px;
        font-size: 11px;
        color: #525273;
        padding: 0 10px;
        height: 25px;
        line-height: 24px;
        border: 1px solid #525273;
        border-radius: 3px;
        width:100%;
    }
    
    .jobsFilterUser::-webkit-input-placeholder {color: #525273 !important;}
    .jobsFilterUser::-moz-placeholder          {color: #525273 !important;}/* Firefox 19+ */
    .jobsFilterUser:-moz-placeholder           {color: #525273 !important;}/* Firefox 18- */
    .jobsFilterUser:-ms-input-placeholder      {color: #525273 !important;}
    
    .searchInput::-webkit-input-placeholder {color: #525273 !important;}
    .searchInput::-moz-placeholder          {color: #525273 !important;}/* Firefox 19+ */
    .searchInput:-moz-placeholder           {color: #525273 !important;}/* Firefox 18- */
    .searchInput:-ms-input-placeholder      {color: #525273 !important;}
    
    .PlaceholderInput::-webkit-input-placeholder {color: #b1b1b1 !important;}
    .PlaceholderInput::-moz-placeholder          {color: #b1b1b1 !important;}/* Firefox 19+ */
    .PlaceholderInput:-moz-placeholder           {color: #b1b1b1 !important;}/* Firefox 18- */
    .PlaceholderInput:-ms-input-placeholder      {color: #b1b1b1 !important;}
    
    
    .friendImgInfo{
        position:absolute;
        background-color: white;
        left:-20px;
        top:-72px;
        width:150px;
        border-radius:5px;
        display:none;
        z-index:999;
    }
    .friendImgInfo::after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 36px; bottom: -20px; /* Положение треугольника */
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid white; 
    }
    .background-block{
        /*background: url(../../../images/bg.jpg) no-repeat !important;*/
            /*bacground-size:100% !important;*/
    }
    
    .activeMyFileToPost{
        border:1px solid green;
    }
    .modalRightPages{
        width: 595px;
        right: 200px;
        left: auto;
        box-shadow: rgba(0, 0, 0, 0.49804) 0px 0px 10px;
        display: block;
        background-color: #FFF;
        position: fixed;
        top: 0;
        height: 100%;
        padding: 0;
        z-index: 998;
        padding-top: 45px;
    }
    
    .modalUserAboutHeader{
        padding:5px;
        border-bottom:2px solid #a6a6a6;
    }
    .modalUserAboutContainer{
    }
    .modalRightPages{
        overflow: auto;
    }
    
    .classBlock .rating-container{
        display:inline-block !important;
    }
    
    .customNavigation{
      text-align: center;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #owl-demo .item.active{
        background-color:white;
        color:black;
    }
    
    .modalNotificationRightBlock{
        width: 595px;
        right: 200px;
        left: auto;
        box-shadow: rgba(0, 0, 0, 0.49804) 0px 0px 10px;
        display: block;
        background-color: #FFF;
        position: fixed;
        top: 0;
        height: 100%;
        padding: 0;
        z-index: 998;
        padding-top: 45px;
        overflow-x: hidden;
    }    /*sviatoslav*/
.img_message img{
    float: left;
}
.title_in_slider{
    width: 100%!important;
    min-width: 460px;
    left: 0px!important;
    bottom: 0px!important;
}
.university-content .post-file video{
    width: 100%;
    /*margin: 2% 20% 5%;*/

}
.top_fix_container{
    height: 206px;
}
.background-block {
    background-attachment: fixed!important;
}
.event-wrap .calendarToday:hover {
    color: white;
    background-color: #fcccd3;
}
.user-layer .chat-action-btn:hover {
    border-bottom: 3px solid #7364cc!important;
}
.user-layer .chat-action-btn {
    height: 25px!important;
}
.hover_backround_color:hover{
    background-color: #f5f5f5;
}
.topClassContainer{
    height: 206px;
}
.button_add_file{
    float: right;
    width: 150px;
    height: 40px!important;
    display: inline-block!important;
    line-height: 40px!important;
    padding: 0;
    font-size: 14px!important;
    color: #ffffff!important;
    border: 0!important;
    border-radius: 0px!important;
    box-shadow: none;
    text-decoration: none;
    background-color: #7364cc;
    border: 1px solid #7364cc!important;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin: 0 auto 0!important;
    padding: 0px!important;
}
.button_add_file:hover{
    background-color: white;
    color: #7364cc!important;
}
.text_style{

    text-align: center;
  }
.text_style1{
    text-align: center;

}
.text_style g{
    color: white;
    padding: 8px 30px 8px;
    background-color: #7364cc;
}
.text_style1 g{
    color: white;
    padding: 8px 30px 8px;
    background-color: #7364cc;
}
.class_search{
    width: 130px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    padding: 0!important;
    color: #fff;
    font-size: 14px;
    background-color: #7364cc;
    border: 1px solid #7364cc;
    box-shadow: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.class_search a{
    line-height: 30px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.class_search  a:hover{
   display: block;
    background-color: #FFF;
    text-decoration: none;
    color: #7364cc;
}
.class_styledeleteWithFavorite{

    width: 60%;
}

.sviat_container{
    margin-right: 0px!important;
    margin-left: 15px!important;
    float: left;
     top: 0px!important;
     line-height: normal!important;
}
.sviat_star{
    margin-bottom: 15px;
}
.sviat_wrap{
    width: 240px!important;
}
.sviat_userlist:hover{
    background-color: #d8d8d8;
}
    /*sviatoslav*/

    
header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;	
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

.scrollbar
{
	/*margin-left: 30px;*/
	/*float: left;*/
	height: 300px;
	/*width: 65px;*/
	background: #F5F5F5;
	overflow-y: scroll;
	/*margin-bottom: 25px;*/
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: grey;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


/*
 *  STYLE 6
 */

#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

/*
 *  STYLE 8
 */

#style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}


/*
 *  STYLE 9
 */

#style-9::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 10
 */

#style-10::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 11
 */

#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}

/*
 *  STYLE 12
 */

#style-12::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

#style-12::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-12::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

/*
 *  STYLE 13
 */

#style-13::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-13::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

/*
 *  STYLE 14
 */

#style-14::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

#style-14::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-14::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}

/*
 *  STYLE 15
 */

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

/*
 *  STYLE 16
 */

#style-16::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-16::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}