@charset "UTF-8";
.store-btn-wrap {
  margin-top: 340px; }
  .store-btn-wrap .apple-btn,
  .store-btn-wrap .play-btn {
    width: 170px;
    height: 50px;
    background-color: #000000;
    border-radius: 5px;
    line-height: normal;
    color: #ffffff;
    padding: 4px 0 0;
    text-align: center;
    display: inline-block;
    text-decoration: none; }
    .store-btn-wrap .apple-btn img,
    .store-btn-wrap .play-btn img {
      height: 32px; }
    .store-btn-wrap .apple-btn p,
    .store-btn-wrap .play-btn p {
      position: relative;
      top: 4px;
      font-size: 11px;
      display: inline-block;
      text-align: left;
      padding-left: 5px;
      margin: 0px;
      vertical-align: middle; }
    .store-btn-wrap .apple-btn span,
    .store-btn-wrap .play-btn span {
      font-size: 22px; }

.login-screen {
  position: relative;
  max-width: 340px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  margin: 110px auto 0;
  float: right; }
  .login-screen .panel-body {
    padding: 20px 25px 30px; }

.panel-login .panel-body h4 {
  margin: 0;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  font-family: 'Conv_Proxima Nova Regular'; }
.panel-login .panel-body .form-subtitle {
  font-family: 'Conv_Proxima Nova Regular';
  font-size: 17px;
  text-align: center;
  margin: 10px 0 30px; }
.panel-login .panel-body .form-group {
  margin-bottom: 25px; }
.panel-login .panel-body input,
.panel-login .panel-body select {
  color: #ffffff;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border-bottom: 1px solid #31bdf1; }
.panel-login .panel-body select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../../web/images/icon/select-arrow.png") no-repeat 96% center;
  padding: 0 13px; }
  .panel-login .panel-body select option {
    color: #000000; }
.panel-login .panel-body .button-wrap {
  text-align: center;
  margin: 30px 0 !important; }
  .panel-login .panel-body .button-wrap p {
    margin: 4px 0;
    font-size: 14px; }
.panel-login .panel-body .btn {
  padding: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 0px;
  border: 0;
  font-size: 16px; }
.panel-login .panel-body .login-btn {
  background-color: #1fb7f0;
  border: 1px solid #1fb7f0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .panel-login .panel-body .login-btn:hover {
    background-color: #FFF;
    color: #1fb7f0; }
.panel-login .panel-body .sign-in-btn,
.panel-login .panel-body .sign-up-btn {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  background-color: #525273;
  border: 1px solid #525273;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .panel-login .panel-body .sign-in-btn:hover,
  .panel-login .panel-body .sign-up-btn:hover {
    color: #525273;
    background-color: #FFF; }
.panel-login .panel-body .sign-up-btn {
  margin-bottom: 20px; }
.panel-login .panel-body .auth-clients {
  margin: 25px 0 0; }
.panel-login .panel-body .social-accounts {
  text-align: center; }
  .panel-login .panel-body .social-accounts a {
    margin: 0 5px; }
.panel-login .panel-body .full-name-wrap {
  margin-top: 30px; }
  .panel-login .panel-body .full-name-wrap .field-signupform-surname input {
    padding-right: 0; }
.panel-login .panel-body span .form-control {
  margin-bottom: 15px; }
.panel-login .panel-body ::-webkit-input-placeholder {
  color: #e5e5e5; }
.panel-login .panel-body :-moz-placeholder {
  color: #e5e5e5; }
.panel-login .panel-body :-ms-input-placeholder {
  color: #e5e5e5; }

@font-face {
  font-family: 'Conv_Proxima Nova Regular';
  src: url("../../web/fonts/Proxima Nova Regular.eot");
  src: local("тШ║"), url("../../web/fonts/Proxima Nova Regular.woff") format("woff"), url("../../web/fonts/Proxima Nova Regular.ttf") format("truetype"), url("../../web/fonts/Proxima Nova Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media (max-width: 1400px) {
  .login-screen {
    margin-top: 30px; }

  .store-btn-wrap {
    margin-top: 243px; } }
@media (max-width: 992px) {
  .login-screen .panel-body h4 {
    font-size: 30px; }
  .login-screen .panel-body .form-subtitle {
    font-size: 16px; }
  .login-screen .panel-body .social-accounts a {
    margin: 0 5px; } }
@media (max-width: 767px) {
  .login-screen {
    margin-top: 50px;
    float: none; }

  .store-btn-wrap {
    margin: 30px 0 0;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
