/* 1-5 col grid */

@media (min-width: 768px)
	.col-sm-1-5
		width: 33.33333333%
		float: left

@media (min-width: 992px)
	.col-md-1-5
		width: 25%
		float: left

@media (min-width: 1200px)
	.col-lg-1-5
		width: 20%
		float: left

/* 1-5 col grid end*/


@media (max-width: 1199px)

	.table
		text-align: center
		.tr
			border-bottom: 1px solid #EAEAEA
			&:first-child
				display: none
			.td
				width: 25% !important
				float: left
				&:first-child
					padding-left: 0 !important


@media (max-width: 1080px)

	.menu-top-wrapper
		left: 0
	.rent-thing
		.btn-wrap
			float: left
			width: 100%
			margin-top: 20px
			text-align: right
			.price-rent,
			.fav,
			.btn-view
				margin-left: 10px
				display: inline-block


@media (max-width: 992px)

	.menu-top-wrapper
		position: relative
		left: 55px
		li.dropdown
			width: 100px
	#carousel-example-generic
		.carousel-caption
			left: 25px
			bottom: 25px
			padding: 10px
		.carousel-indicators
			line-height: 25px
	.event-wrap
		overflow: hidden
	.university-content
		.user-info
			.user-address
				width: auto
				display: block
			.user-address
				margin-top: 10px
	.jobs-content
		.top-v-item
			&>div
				text-align: left
			.jobs-rating
				line-height: 15px
			.job-info
				max-width: 170px
			.btn-wrap
				margin-top: 20px
				float: none
				max-width: inherit
				text-align: right !important
			.deleteWithFavorite,
			.addToFavorite
				display: inline-block
		.table .tr .td
			padding-left: 0
	.user-map
		.user-job
			padding-left: 40px
		.user-btn-wrap
			margin-right: 0
	.my-resume
		label
			text-align: left !important
			margin-bottom: 0
	.resume-avatar
		float: none !important
	.btn-view-profile,
	.btn-invite
		width: 85px
		font-size: 12px


@media (max-width: 950px)

	.rating-thing
		// margin-left: 165px
		padding-left: 15px !important
		.top-row
			padding-right: 30px
		.top-row,
		.bottom-row
			// display: inline-block


@media (max-width: 880px)
	
	.question-category
		.question-show-content
			width: 40%
	.user-block
		.user-btn-wrap
			float: left
			width: 100%
			line-height: normal
			margin-top: 10px
			&>div:nth-child(1)
				text-align: right
				a
					display: inline-block
					margin-bottom: 0
					margin-left: 10px
					width: 110px
				.show-in-map
					background-position-x: 5px
		.user-btn-wrap
			.startChat
				margin-bottom: 0
				margin-top: 2px


@media (max-width: 800px)
	
	.question-category
		.question-show-content
			width: 50%
		.btn-wrap
			width: 100%
			text-align: right
			.add-answer,
			.apply,
			.update-btn
				margin-top: 15px
				margin-bottom: 0
				display: inline-block

@media (max-width: 767px)
	.navbar-top
		.navbar-header
			margin-right: 0
		.navbar-collapse
			position: relative
			top: 4px
			margin: 0 auto
			clear: both
			width: 50%
			text-align: center

@media (max-height: 780px)

	.modal.big-modal
		.modal-content
			margin-top: 170px
			margin-bottom: 25px