=transition($prop, $time)
	-webkit-transition: $prop $time
	-o-transition: $prop $time
	transition: $prop $time
=transitiontwo($prop, $time, $animation, $prop2, $time2, $animation2)
	-webkit-transition: $prop $time $animation, $prop2 $time2 $animation2
	-o-transition: $prop $time $animation, $prop2 $time2 $animation2
	transition: $prop $time $animation, $prop2 $time2 $animation2